/* here you can put your own css to customize and override the theme */
.recent-work-item {
    padding-left: 10px;
    height: 310px !important;
}
a :hover{
    text-decoration: none !important;
}
.teacher-info{
    width: 100%;
    height: 100px;
    padding-top: 7px;
    border-top: 1px solid #eee;
}
.teacher-info img{
    width: 75px;
    height: 75px;
    padding: 3px;
    border-radius: 150px !important;
    border: solid 1px #f5f5f5;
}
.teacher-name{
    color: #E6400C;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
    width: 100%;
}
.teacher-post{
    color: #656565;
    font-size: 12px;
}
.subject{
    color: rgba(101, 101, 101, 0.61);
    font-size: 11px;
}
.teacher-details{
    padding: 20px 0 0 20px;

}
.post-title{
    font: 500 12px 'Open Sans', Arial, sans-serif !important;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.readpdf { width: 100%; height: 520px; border: none; }
.readpdf { zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0; }
.viewVideo { width: 100%; height: 520px; border: none;  }

.comment{
    width: 100%;
    height: 100px;
    padding-top: 7px;
    border-top: 1px solid #eee;
}
.comment img{
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 150px !important;
    border: solid 1px #f5f5f5;
}
.user-name{
    color: #E6400C;
    font-size: 12px;
    font-weight: 300;
    margin: 6px 0 7px;
    width: 100%;
}
.comment-details{
    padding: 5px 0 0 5px;
}
.user-comment, .comment-date{
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif;margin-bottom: 4px;
}
.course-card a:hover{
    text-decoration: none !important;
    color: #000d06 !important;
}
.course-card{
    padding: 7px;
}
.side-wrapper {
    position: relative;
    /*width: 218px;*/
    height: 270px;
    cursor: pointer;
    margin-bottom: 15px;
}
.front {
    border: 1px solid #dedede;
    background-color: #fff;
}
.front .image-container {
    height: 125px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 0;
}
.front .content {
    padding: 10px 15px;
}
.front .sub-count {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
}
.subImg{
    height: 100px;
}
.sublevel {
    color: #bba896;
    margin: 10px 0 8px;
    line-height: 17px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.subName {
    word-wrap: break-word;
    overflow-y: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 24px;
    white-space: initial;
    font-size: 18px;
    font-family: 'Merriweather',Georgia,serif;
    font-weight: normal;
    text-transform: capitalize;
}

.search-facets.phone-menu {
    display: inline;
    max-height: 2000px;
    padding: 0;
    margin: 0 0 70px;
    overflow: visible;
}
.search-facets h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #3d3e3f;
    border: none;
    padding: 10px;
    margin: 0 10px;
}
.search-facets section {
    padding: 10px 0;
    margin: 0 10px;
    border-top: 1px solid #e6e6e6;
}
.search-facets h3 {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-weight: 600;
    margin: 0 10px 10px;
    font-size: 0.9em;
    color: #3d3e3f;
}
.search-facets ul.collapse {
    max-height: 290px;
}
.search-facets ul {
    -webkit-transition: all 0.3s 0 linear;
    -moz-transition: all 0.3s 0 linear;
    transition: all 0.3s 0 linear;
    padding-left: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.search-facets li.selected {
    background: #e6e6e6;
}
.search-facets li:first-child {
    border-top-color: white;
}
.search-facets .facet-option {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    text-decoration: none;
    text-align: left;
    float: left;
    width: 100%;
    height: 100%;
    padding-left: 12px;
    color: #3d3e3f;
    opacity: 1;
    background: none;
    border: none;
    font-size: 13px;
}
.search-facets li {
    clear: both;
    -webkit-transition: height 0.3s 0 linear;
    -moz-transition: height 0.3s 0 linear;
    transition: height 0.3s 0 linear;
    position: relative;
    font-size: 0.9em;
    height: 28px;
    line-height: 28px;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid #e6e6e6;
}
.search-facets li .count {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 40px;
    line-height: 28px;
    font-size: 0.9em;
    position: absolute;
    right: 22px;
    text-align: right;
    color: #646464;
    font-weight: normal;
    opacity: 1;
}

/*Home Page Styles*/
.home-item {
    padding-left: 10px;
    height: 220px !important;
}